body {
        background-color: white;
}

nav {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 75% 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.navitem {
    line-height: 40px;
}

#profilepic {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: purple;
}